<html>
    <body>
        <form action="/new_building" enctype="multipart/form-data" method="post">
            Name:<input type="text" name="name"><br>
            Longitude:<input type="text" name="lng" id="x"><br>
            Latitude:<input type="text" name="lat" id="y"><br>
            Storey:<input type="text" name="storey"><br>
            Description:<input type="text" name="description"><br>
            Father:<input type="text" name="father"><br>
            At <input type="text" name="floor">Floor<br>
            Pic1:<input type="file" name="myfile"><br>
            Pic2:<input type="file" name="myfile"><br>
            Pic3:<input type="file" name="myfile"><br>
            Pic4:<input type="file" name="myfile"><br>
            Pic5:<input type="file" name="myfile"><br>
            Pic6:<input type="file" name="myfile"><br>
            Pic7:<input type="file" name="myfile"><br>
            Pic8:<input type="file" name="myfile"><br>
            <input type="submit" value="Submit">
        </form>
	<script>
	navigator.geolocation.getCurrentPosition(function(position){
		var a = document.getElementById("x");
		var b = document.getElementById("y");
		a.value = position.coords.longitude;
		b.value = position.coords.latitude;
})
</script>
    </body>
</html>
