<!DOCYTPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Indoor Map</title>
        <style type="text/css">
            html{height: 100%}
            body{height: 100%; margin: 0px; padding-top: 50px}
            #container{height: 100%}
        </style>
            <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&amp;ak=8c4614c8d9f809f40854d84237a39f0c">
        </script>
        <link rel="stylesheet" href="{{ static_url("flat-ui/bootstrap/css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ static_url("flat-ui/css/flat-ui.css") }}">
        <!-- <link rel="stylesheet" href="{{ static_url("css/about/about.css") }}"> -->
    </head>

    <body>
        {% module NavbarPedestal(user, url, login_state) %}
        <div id="container"></div>
        <script type="text/javascript">
            var map = new BMap.Map("container", {mapType: BMAP_HYBRID_MAP});
            var point = new BMap.Point(121.825, 39.092);
            map.centerAndZoom(point, 18);

            //var marker = new BMap.Marker(point);
            //map.addOverlay(marker);
            var label = new BMap.Label("A区", {position: point});
            label.setTitle("教学区");
            label.addEventListener("click", function(){alert("您点击了地图。");});
            map.addOverlay(label);

            //var AIcon = new BMap.Icon("www.pedestal.cn:3358/static/buildings/1/avator.jpg", new
            //        BMap.Size(800, 400));
            //var marker = new BMap.Marker(point, {icon: AIcon});
            //map.addOverlay(marker);
            //function addMarker(point, index){
            //    var myIcon = new BMap.Icon("/static/buildings/1/avator.jpg", new
            //            BMap.Size(23, 25), {offset: new BMap.Size(10, 25), imageOffset: new
            //            BMap.Size(0, 0)});
            //    var marker = new BMap.Marker(point, {icon: myIcon});
            //    map.addOverlay(marker);
            //}
            //var bounds = map.getBounds();
            //alert(bounds.maxX);
            //var lngSpan = bounds.maxX - bounds.minX;
            //var latSpan = bounds.maxY - bounds.minY;
            //for (var i=0; i<10; i++) {
            //    var point = new BMap.Point(bounds.minX + lngSpan *
            //            (Math.random() * 0.7 + 0.15), bounds.minY + latSpan *
            //            (Math.random() * 0.7 + 0.15));
            //    addMarker(point, i);
            //}
            //addMarker(point, 0);
            
            map.enableScrollWheelZoom();
            map.addControl(new BMap.NavigationControl());
            map.addControl(new BMap.ScaleControl());
            map.addControl(new BMap.MapTypeControl());
            map.addControl(new BMap.GeolocationControl());
            window.setTimeout(function(){
                    map.panTo(new BMap.Point(121.825, 39.092));
                },2000);
            
        </script>
    </body>
</html>
